.menu_container{
    position: absolute;
}

.menu{
    list-style-type: none;
    display: grid;
    grid-template-rows: 70px;
}

.menu_item {
    text-decoration: none;
    cursor: pointer;
}

#open_file{
    display: none;
}

.menu_left {
    left: 0;
    top: 0;
}

.menu_right {
    right: 0;
    top: 0;
}